@page "/"

<PageTitle>Home</PageTitle>

<h1>Swagabond Demo App</h1>

<p>This is a sample web application that hooks into a sample web api, utilizing Swagabond-generated client side code.</p>

<h2>How to use this?</h2>
<ul>
    <li>Ensure both SampleWebApp AND SampleWebAppUI are both running</li>
    <li>Ensure the SampleWebApp projectASPNETCORE_URLS=http://localhost:5275 ASPNETCORE_ENVIRONMENT=Development</li>
</ul>