@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <pre>
 █▀     █ █ █     ▄▀█     █▀▀     ▄▀█    
 ▄█     ▀▄▀▄▀     █▀█     █▄█     █▀█    

 █▄▄     █▀█     █▄ █     █▀▄
 █▄█     █▄█     █ ▀█     █▄▀
    </pre>
    <h3 class="display-4">Swagabond Integration Demo</h3>
    <p>
        This demo shows a full demonstration of utilizing swagabond-generated client code to quickly
        integrate with a swagger-enabled API. 
    </p>
</div>

<h3>How to use this Sample Web App</h3>
<ul>
    <li>Run both this app (SampleWebAppUI) and the web API (SampleWebApi) projects at the same time </li>
    <li>Ensure that SampleWebApi is configured to run at http://localhost:5240</li>
    <li>Try messing around with the data from this web app.  Keep in mind, data will be reset to default once the API is restarted.</li>
</ul>

<h3>API Updates</h3>
<p>
    The client code library (SampleWebAppClient) and the markdown documentation can both be regenerated simply by running
    generate.sh in the SampleWebAppClient project.  This makes it trivial to propgate updates from web API -> Web App, with 
    always up-to-date documentation.
</p>

<hr />

<h2>List of franchises</h2>
<p>This data was be loaded via your running API</p>
@foreach(var franchise in Model.Franchises)
{
    <div>
        <h3>@franchise.Name</h3>
        <p><i>@franchise.Slogan</i></p>
        <small>Franchise ID: @franchise.Id</small>
        <br/>
    </div>
}

